<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addbook" method="post" enctype="multipart/form-data">
        <label>Book Name : </label>
        <input type="text" name="bookName">


        <label>Auther Name : </label>
        <input type="text" name="autherName">


        <label>Discreption : </label>
        <input type="text" name="discreption">


        <label>Price</label>
        <input type="number" name="price">



        <label>Book Name</label>
        <input type="file" name="bookImage" accept="image/">

        <button type="submit">Submit</button>

    </form>
</body>
</html>